.home-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.overlay {
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-transactions {
  margin-bottom: 20px;
}

.transaction-list {
  list-style-type: none;
  padding: 0;
}

.transaction-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.transaction-details p {
  margin: 5px 0;
}
